.editarDadosPessoais {
    display: flex;
    justify-content: space-between;
    padding: 1vh;
    align-items: center;
    flex-direction: column;
    background-image: url('../../../../../images/banner.png');
    background-size: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 25vh;
}

.editarDadosPessoais h3 {
    color: #fff;
    margin-top: 3vh;
    font-size: 3vh;
}