.inputGroup {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.inputGroup span {
    color: #8c8c8c;
    font-size: 2vh;
}

@media (max-width: 580px) {
    .inputGroup {
        margin-right: 0px !important;
        width: 100% !important;
    }
}
