.container {
    width: 100vw;
    height: 100vh;
    background: #fff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
   
}
.backgrounImg {  
    background-image: url('https://imagesvc.timeincapp.com/v3/mm/image?url=https%3A%2F%2Fcdn-image.myrecipes.com%2Fsites%2Fdefault%2Ffiles%2Fstyles%2Fmedium_2x%2Fpublic%2F1528993423%2FGettyImages-697547761.jpg%3Fitok%3D5eikMhRc&w=450&c=sc&poi=face&q=85');
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
}
.box {
    width: 25vw;
    height: auto;
    min-width: 20vw !important;
    min-width: 300px !important;
    background: #FAF7F7;
    padding: 40px;
    border-radius: 0px;
    border-bottom: 1px solid #ebedf0;
    filter:alpha(opacity=50);
    -webkit-opacity:0.8;

}
.button {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}
.logo {
    max-width: 80px;
    margin: 10px
}

