.container {
    width: 100vw;
    height: 100vh;
    background: #fff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-image: url('http://apiariorainhadeouro.com.br/files/banner2.jpg');
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
   
}
.background-img {  
    background-image: url('http://apiariorainhadeouro.com.br/files/banner2.jpg');
    background-repeat: no-repeat;
    background-size: auto auto;
}
.box {
    width: 25vw;
    height: auto;
    min-width: 20vw !important;
    min-width: 300px !important;
    background: #FAF7F7;
    padding: 40px;
    border-radius: 0px;
    border-bottom: 1px solid #ebedf0;
    filter:alpha(opacity=50);
    -webkit-opacity:1;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25pt

}
.button {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}
.logo {
    max-width: 80px;
    margin: 10px
}

