.login-form-1 {
    background: #C0C0C0;
    padding: 40px;
    margin-top: 50px;
    margin-left: 100px; 
    width: 300px;
    justify-content: center;
    align-content: center;
    text-align: center;
    color:red;
}