.container {
    width: 100vw;
    height: 100vh;
    background: #6C7A89;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.box {
    width: 400px;
    height: auto;
    background: #fff;
    padding: 40px;
    border-radius: 5px
}
.button {
    width: 100%;
    margin-top: 15px
}
.logo {
    max-width: 80px;
}

