
.logo-dashboard {
    width: 100vw;
    height: 60px;
    background-image: url('../../images/logo.png');
    background-repeat: no-repeat;
    background-size: 5vw 6vh;
    /* margin: 20px; */
    align-content: center;
    align-items: center;
    justify-content: center;
}